.accordionLinks-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  min-height: 166px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-between;
}
.accordion-link {
  padding: 1rem;
  border: hidden;
  font-size: large;
  justify-content: start;
  text-align: left;
}
.accordion-link:hover {
  background-color: gainsboro;
}
.paragraph-text {
  padding: 8px;
  font-weight: bold;
}
